<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <a routerLink="/">
        <button type="button" class="btn btn-light go-back-button">Go back</button>
    </a>
    <ng-container *ngIf="!postData">
      <div *ngIf="!postData" class="d-flex justify-content-center align-items-center loading-spinner ">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div></ng-container>
    <ng-container *ngIf="postData">
      <div class="container-fluid header-image">
        <img src="{{ postData.featured_image }}" alt="" srcset="">
      </div>
      <span class="text-muted post-author"> {{ postData.author.name }} {{ postData.date | date: 'short' }} </span>
        <h4 [innerHTML]="postData.title">
        </h4>
        <div class="post-content" [innerHTML]="postData.content"></div>
        <h6 *ngIf="postData" class="display-4">Comments</h6>
        <div class="post-comment" *ngFor="let comment of comments">
            <span class="post-comment-author text-muted">Author:
                {{comment.author.name }}
            </span>
            <br>
                <span class="post-comment-date text-muted">{{comment.date | date :'short' }}</span>
                <p [innerHtml]="comment.content"></p>
        </div>
    </ng-container>
    </div>
  </div>
</div>
<app-back-to-top></app-back-to-top>
