<table class="table posts-table table-responsive-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (data$ | async) | paginate: { itemsPerPage: 10, currentPage: p }; index as postId ">
      <th scope="row">{{ (p - 1) * 10 + postId +1  }}</th>
      <td> <a [routerLink]="['/posts', postId]" (click)="postData(item)" [innerHTML]="item.title">
          </a>
          <span class="post-excerpt text-muted" [innerHTML]="item.excerpt"></span>
      </td>
    </tr>
  </tbody>
</table>
<div class="paginator d-flex justify-content-end align-items-end">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
